.score
{
	font-size:12;
	color:grey;
}
span.cscore
{
	color:blue;
}
span.cpct
{
	color:orange;
}
span.cpending
{
	color:lightblue;
}
#summary
{	
	color:grey;
	font-size:50px;
	text-align: center;
	padding-top:100px;
}