<html ng-app="timeoutApp">
	<head>
		<meta charset="utf-8">
		<title>4 Timeout Example</title>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
		<script>
			var ngApp= angular.module('timeoutApp',[]);
			ngApp.controller('timeoutController',function($scope){
				$scope.fname='Alex';
				$scope.lname='Mathew';
				
				setTimeout(function(){
					$scope.fname='Mark';
					$scope.$apply();
				},1000);
			});
		</script>
	</head>
	<body ng-controller="timeoutController">
		First Name: <input ng-model="fname" type="text"/> <br/>
		Last Name: <input ng-model="lname" type="text"/> <br/>
		Name is {{fname}} {{lname}}<br/>
	</body>
</html>